body{
    color: rgb(136, 53, 107);
    background-color: rgb(99, 219, 70);
    padding: 20px;
    line-height: 1.6;
}

h1, h2, h3{
    margin: 10px 0;
    font-weight: 700;
}

.selo{
    background-color: azure;
    color: red;
    padding: 7px 15px;
    font-size: 14px;
    border-radius: 12px;
}